{% extends "my_journey/base.html" %} {% block content %}

{% if user.is_authenticated %}
    <h2 id="add-title"> Add Picture </h2>
    <br/>

    <div class="form-group add-form">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
        
            <div class="separate-buttons">
                <button class="btn btn-outline-success"> Add </button>
                <a href="{% url 'user_home_page' %}" class="btn btn-outline-danger"> Cancel </a>
            </div>
            
        </form>
    </div>

    <!-- This is to add the name of the currently user logged in, into the form.--> 
    <!-- So the backend can save the username of who added the new picture --> 
    <script>
        let userID = "{{ user.id }}";
        document.getElementById("user").value = userID;
    </script>

{% else %}
    <h2> You have to be logged in order to add a picture. </h2>

{% endif %}



{% endblock %}