{% extends "my_journey/base.html" %} {% block content %}

{% if user.is_authenticated %}

    {% if user.id == picture.user.id %}
        <h2> Delete Picture </h2>
        <br/>

        <div class="form-group delete-form">
            <form method="POST">
                {% csrf_token %}
                
                <h4> Are you sure you want to delete the picture? </h4>
                <button class="btn btn-outline-success"> Yes </button>
                <a href="{% url 'picture_detail' pk=picture.pk %}" class="btn btn-outline-danger"> No </a>
            
            </form>
        </div>

    {% else %}
        <h2> You cannot delete another user's picture. </h2>
        
    {% endif %}

{% else %}
    <h2> You have to be logged in order to delete the picture. </h2>
{% endif %}

{% endblock %}