{% extends "my_journey/base.html" %} {% block content %}

{% if user.is_authenticated %}

    {% if user.id == picture.user.id %}
        <h2 id="edit-title"> Edit Picture </h2>
        <br/>

        <div class="form-group edit-form">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                
                <div class="separate-buttons">
                    <button class="btn btn-outline-success"> Update </button>
                    <a href="{% url 'picture_detail' pk=picture.pk %}" class="btn btn-outline-danger"> Cancel </a>
                </div>
                
            </form>
        </div>
    
    {% else %}
        <h2> You cannot edit another user's picture. </h2>

    {% endif %}

{% else %}
    <h2> You have to be logged in order to edit the picture. </h2>

{% endif %}

{% endblock %}