{% extends "my_journey/base.html" %} {% block content %}

{% if user.is_authenticated %}

    {% if user.id == picture.user.id %}
        <a href="{% url 'edit_picture' pk=picture.pk%}"> Edit Picture </a>
        <a href="{% url 'delete_picture' pk=picture.pk%}"> Delete Picture </a>
        <hr/>
    {% endif %}

{% endif %}

<h3> User: {{ picture.user }}</h3>
<img src={{ picture.image_url }} alt={{ picture.image_url }} />

<p> Likes: {{ total_likes }} </p>
<p> Dislikes: {{ total_dislikes }} </p>
<p> Comments: </p>

<ul>
    {% if picture.comments > 0 %}
    <li>
        {% for comment in picture.comments %}
        {{comment}}
        {% endfor %}
    </li>
    {% endif %}
</ul> 

<br/>

{% if user.is_authenticated %}




<form action="{% url 'like_picture' pk=picture.pk %}" method="POST">
    {% csrf_token %}
    
    
    <button type="submit", name="picture_id", value="{{ picture.id }}", class="btn btn-outline-primary"> 
        Like 
    </button>

</form>

<form action="{% url 'dislike_picture' pk=picture.pk %}" method="POST">
    {% csrf_token %}
    
    <button type="submit", name="picture_id", value="{{ picture.id }}", class="btn btn-outline-danger"> 
        Dislike 
    </button>
    
</form>

<a href="{% url 'user_home_page' %}" class="btn btn-outline-secondary"> Back </a>

{% endif %}

{% endblock %}