container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python3 manage.py migrate --noinput"
    leader_only: true

    02_createsuper:
    command: "source /opt/python/run/venv/bin/activate && python3 manage.py createsuperuser"
    leader_only: true

    03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python3 manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "my_journey_project.settings"
    "PYTHONPATH": "/opt/python/current/app/my_journey:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: my_journey_project.wsgi:application
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"