option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: my_journey_project.wsgi:application

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: my_journey_project.settings
    ALLOWED_HOSTS: django-env.eba-fuxpsvsv.us-east-1.elasticbeanstalk.com, .elasticbeastalk.com