/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/* Default Style */
#app-title
{
    text-align: center;
    margin-bottom: 3%;
}

img
{
    max-width: 80%;
    margin-top: 3%;
    margin-bottom: 3%;
}

a:link
{
    text-decoration: none;
}

.picture-links
{
    display: flex;
    justify-content: space-evenly;
}

.image-user
{
    margin-left: 23%;
}

.pictures, .image-details
{
    margin-left: 20%;
}

.showing-likes, .like-buttons, .bottom-buttons, .separate-buttons
{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-bottom: 3%;
}

.dislike-button
{
    position: relative;
    right: 40%;
}

.comment-title
{
    text-align: center;
}

.comments-section
{
    margin-top: 3%;
    margin-left: 7%;
    margin-bottom: 5%;
    margin-right: 4%;

    border: black dashed 1px;
}

.comment
{
    margin-left: 18%;
    margin-bottom: 5%;
}

.edit-form, .add-form
{
    margin-left: 10%;
    
}

.delete-form
{
    margin-left: 27%;
}

/* Adding the same fonts to these classes and ids */
.edit-form, .delete-form, .comment-title, .image-user, #app-title, .add-form
{
    font-family: 'Montserrat', sans-serif;
}

.showing-likes, .like-buttons, .bottom-buttons, .comments-section, .home-page-text
{
    font-family: 'Merriweather', serif;
}

.home-nav-bar, .picture-links, #edit-title, #delete-title, #add-title
{
    font-family: 'Open Sans', sans-serif;
}